<div class="modal-header">
  <h5 class="modal-title">Instrucciones Básicas</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body ">
    <div class="menu-item d-flex align-items-center justify-content-center">
        <div class="circle icon-data text-center">
          <i class="bi bi-person-fill mb-2"></i>
          <h2 class="">Empleados</h2>
        </div>
      </div>
      <div class="row mt-2">
        <p><i class="bi bi-person-fill-add"></i> <strong> Crear Empleado:</strong> En este apartado puedes añadir un nuevo empleado con su Nombre y Correo </p>
        <p><i class="bi bi-pencil-fill"></i> <strong> Editar Empleado:</strong> En este apartado puedes modificar la información actual del empleado (Nombre y Correo) </p>
        <p><i class="bi bi-info-circle-fill"></i> <strong> Información de Empleado:</strong> En este apartado puedes visualizar una tarjeta con toda la informacion del empleado </p>
      </div>
      <hr style="border: 1px solid #fff; margin: 10px 0;">
  <div class="menu-item d-flex align-items-center justify-content-center mt-1">
    <div class="circle icon-data text-center">
      <i class="bi bi-building-fill mb-2"></i>
      <h2 class="">Departamentos</h2>
    </div>
  </div>
  <div class="row mt-2">
    <p><i class="bi bi-building-fill-add"></i> <strong> Crear Departamento:</strong> En este apartado puedes añadir un nuevo departamento con su Nombre y Descripción </p>
    <p><i class="bi bi-pencil-fill"></i> <strong> Editar Departamento:</strong> En este apartado puedes modificar la información actual del departamento (Nombre y Descripción) </p>
    <p><i class="bi bi-info-circle-fill"></i> <strong> Información de Departamento:</strong> En este apartado puedes visualizar una tarjeta con toda la informacion del departamento, asi como ver su jerarquia de miembros </p>
    <p><i class="bi bi-trash-fill"></i> <strong> Eliminar Departamento:</strong> En este apartado puedes eliminar la información de un departamento de la lista </p>
    <p><i class="bi bi-person-fill-add"></i> <strong> Añadir Miembro:</strong> En este apartado puedes añadir un miembro al departamento seleccionandolo por nombre y puedes asignarle un superior si hay disponibles </p>
    <p><a class="card-link text-end">Ver Jeraquia de Miembros:</a> Despliega el esquema de jerarquia de los miembros dentro del departamento</p>
  </div>
  <hr style="border: 1px solid #fff; margin: 10px 0;">
  <div class="row mt-3">
    <p><I>Para profundizar aun mas las intrucciones visualice el README dentro del repositorio :-) </I></p>
  </div>
</div>
