.sae-container {
  display: flex;
  height: auto;
  width: 100%;
}

.content-section{
  margin-left: 250px;
}

.sidebar {
  width: 250px;
  position: fixed;
  background-color: #212529;
  color: white;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .logo {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    h1 {
      margin: 0;
      color: #ff5722;
    }
    
    p {
      font-size: 0.8rem;
      margin: 5px 0;
      color: white;
    }
  }
}

.menu-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-item {
  cursor: pointer;
  
  .circle {
    width: 95%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    i,h2 {
      color: #ff5722;
    }
  }
  
  &.active {
    .circle {
      background-color: #ff5722;
      
      i,h2 {
        color: white;
      }
    }
  }
}

.main-content {
  flex: 1;
  background-color: #ff5722;
  padding: 20px;
  color: white;
  min-height: 100vh;
  
  .content-section {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  text-align: center;
}

h3 {
  margin-top: 0px; 
}